<div class="container wrapper">
    <div class="app-details">
        <img src="assets/images/currency-exchange-svgrepo-com.svg" class="app-icon mb-3" alt="Currency Exchange Icon" />
        <h1 class="app-title">Currency Converter</h1>
    </div>

    <label for="amount">Amount:</label>
    <input type="number" id="amount" placeholder="Enter the amount..." />

    <div class="dropdowns">
        <select id="from-currency-select"></select>
        <select id="to-currency-select"></select>
    </div>

    <button id="convert-button">Convert</button>

    <input class="text-center m-auto w-75 mb-4 mt-3 p-3 form-control d-none" disabled id="resultbox">
</div>
