* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    border: none;
    outline: none;
}

body {
    background-color: black;
    background-image: url(../public/assets/images/world-currency-rates-483658563-16daf393a06a43b88198cc0098af9fa9.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}